{{ form_start(form) }}

<section class="stack-large">

  <section>
    <div class="grid">
      {{ form_rest(form) }}
    </div>
  </section>

  <section>
    <button type="submit" class="btn btn-primary">Sauvegarder</button>
  </section>

</section>

{{ form_end(form) }}
