
{% extends 'admin/base.html.twig' %}

{% block title %}
  Créer
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="tile">
            <div class="tile-body">
                <h3>Show</h3>
            </div>
        </div>
    </div>
  </div>
{% endblock %}

{% block css %}
{{ parent() }}
{% endblock %}

{% block js %}
{{ parent() }}
{% endblock %}
