<div class="item">
    <div class="field">
        <div class="ui radio checkbox">
            {{ form_widget(form) }}
        </div>
    </div>
    <div class="content">
        <a href="#" class="header">{{ form_label(form) }}</a>
        <div class="description">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia quas molestiae, eligendi beatae tempore repudiandae! Aperiam quibusdam labore nemo qui ullam et voluptatibus dolore architecto, ut sunt asperiores dolorem a eligendi veritatis dicta libero alias repellat numquam incidunt sit sed.
        </div>
    </div>
    <div class="extra"></div>
</div>