<div class="ui segment">
	<div class="ui two column divided stackable grid">
		<div class="column" id="shipping-address">
        <div class="ui small dividing header">{{ 'labels.checkout.shipping_address'|trans }}</div>
            {% include "account/_address.html.twig" with {address: order.shippingAddress} %}
        </div>
		<div class="column" id="billing-address">
        <div class="ui small dividing header">{{ 'labels.checkout.billing_address'|trans }}</div>
            {% include "account/_address.html.twig" with {address: order.billingAddress} %}
        </div>
	</div>
</div>
