{% extends "admin/base.html.twig" %}


{% block content %}
    <div class="row">
        <div class="col">
            <div class="tile">
                <h1 class="tile-title">Create Page</h1>
                <div class="tile-body">
                    {% include "admin/state/_form.html.twig" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
